<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Добавление клиента</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container my-5">
    <h2 class="mb-5">Клиенты</h2>
    <div class="row">
        <div class="col-md-6">
            <form action="#" th:action="@{/client/add-item}" th:object="${client}" method="post">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="name" class="col-form-label">Название</label>
                        <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Имя">
                        <label for="address" class="col-form-label">Адрес</label>
                        <input type="text" th:field="*{address}" class="form-control" id="address" placeholder="Адрес">
                        <label for="phone" class="col-form-label">Телефон</label>
                        <input type="text" th:field="*{phone}" class="form-control" id="phone" placeholder="Телефон">
                        <div th:each="operation : ${operations}" id="operation-block">
                            <label th:for="${operation.id + operation.name}" th:text="${operation.name}"></label>
                            <input type="checkbox" th:field="*{operations}" th:value="${operation.id}"
                                   th:id="${operation.id + operation.name}"/>
                        </div>
                        <label for="request" class="col-form-label">Заявка</label>
                        <select th:field="*{request.id}" id="request" class="form-control">
                            <option th:each="i : ${requests}" th:value="${i.id}"
                                    th:text="${i.name + ', ' + i.price + ', ' + i.type}"></option>
                        </select>
                        <label for="employee" class="col-form-label">Сотрудник</label>
                        <select th:field="*{employee.id}" id="employee" class="form-control">
                            <option th:each="i : ${employees}" th:value="${i.id}" th:text="${i.name}"></option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <input type="submit" class="btn btn-primary" value="Добавить клиента" style="margin-right: 10px">
                    <a href="/client" class="btn btn-danger">Отмена</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>