<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        h3 {
            text-align: center;
            margin-top: 30px;
        }
        a {
            margin-right: 10px;
        }
    </style>
</head>
<body>
<h3>Менеджмент заявок</h3>
<div class="container my-5 d-flex justify-content-center">
    <a th:href="@{/employee/}" class="btn btn-primary">Сотрудники</a>
    <a th:href="@{/operation/}" class="btn btn-primary">Операции</a>
    <a th:href="@{/deal/}" class="btn btn-primary">Статусы сделок</a>
    <a th:href="@{/request/}" class="btn btn-primary">Заявки</a>
    <a th:href="@{/client/}" class="btn btn-primary">Клиенты</a>
</div>
</body>
</html>