<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div th:switch="${operations}" class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <a href="/" class="btn btn-light">На главную</a>
            <a href="/operation/add" class="btn btn-primary"><i class="fas fa-user-plus ml-2"></i>Добавить операцию</a>
            <h3 th:if="${operations.isEmpty()}">Нет текущих операций!</h3>
            <div th:if="${!operations.isEmpty()}">
                <h2 class="my-5">Операции</h2>
                <table class="table table-striped table-responsive-md">
                    <thead>
                    <tr>
                        <th>Название</th>
                        <th>Редактировать</th>
                        <th>Удалить</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="operation : ${operations}">
                        <td th:text="${operation.name}"></td>
                        <td><a th:href="@{/operation/edit/{id}(id=${operation.id})}" class="btn btn-primary">Редактировать</a></td>
                        <td><a th:href="@{/operation/delete/{id}(id=${operation.id})}" class="btn btn-danger">Удалить</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>